body {
    font-family: sans-serif;
}


header {
    height: 64px;
    padding-left: 24px;
}

header nav {
    float: right;
    padding: 18px 8px;
    max-height: 64px;
}

a {
    font-size: large;
    padding-right: 16px;
}

.logo {
    display: inline-flex;
    align-items: center;
    font-size: large;
    font-weight: bold;  
}

header .imagelogo {
    height: 3rem; 
}

header .mobile {
    display: none;
}

.logoname2 {
    font-weight: normal;
    color: grey;
}

#features {
    display: flex;
    background-color: rgb(221, 221, 221);
    width: 100%;
  }
  
  #features .image-container {
    padding: 32px 24px;
    width: 60%;
  }
  
  #features .image-container img {
    max-width: 100%;
  }
  
  #features .content {
    margin: auto 0; 
    flex: 1;
  }
  
  #features .content h1 {
    max-width: 100%;
    font-size: 3rem;
    color: rgb(85, 85, 85);
  }

  #features .content h3 {
    color:rgb(85, 85, 85);
  }

  #features .content button {
    background-color: rgb(73, 73, 73);
    border: none;
    padding: 8px;
    width: 250px;
    color: white
  }
  @media only screen and (max-width: 720px) {
    #features {
      flex-flow: column;
    }

    header .mobile {
     display: flex;
     justify-content:space-around;
     width: 100%;
    }

    header nav {
     display: none;
    }

    #features .image-container {
        width: 100%;
        height: 100%;
        padding: 0;
      }

    #features .content {
    
      padding: 32px 16px;
      margin: 0 auto;
    }
    .logoname, .logoname2, .logo {
        display: none;
    }

    h1 {
      font-size: 2rem;
    }
    
  }
  